{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
    <div class="alert alert-primary" role="alert">
        詳細
    </div>
{% endblock header %}

{% block content %}
    <div class="container">
        <div class="alert alert-success" role="alert">
            <p>タイトル:{{ object.title }}</p>
            <p>内容:{{ object.content }}</p>
            <p>投稿者:{{ object.contributor }}</p>
            <p><img src='{{ object.image.url }}' width=300></p>
            <a href="#" class="btn btn-primary active" role="button" aria-pressed="true">Primary link</a>
            <a href="#" class="btn btn-secondary active" role="button" aria-pressed="true">Link</a>
        </div>
    </div>
{% endblock content %}
